<div class="bgimg-1">
  <div class="caption">
    <span class="border">Nick Belanger</span>
  </div>

  <div class="scroll-text">
    <span class="border" style="font-family: Abel;">Scroll</span>
  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">A Full Stack Web Developer</h3>
  <p>Web developer with a passion for problem solving and a love for learning. Experience in all aspects of the web development stack, including advanced JavaScript frameworks such as React. Multiple complex webapps pushed to production. Impactful contributer whether working in small, agile startups or 3,000+ employee corporations.</p>
</div>

<div class="bgimg-3">
  <div class="caption">
    <a href="http://carlisletrails.herokuapp.com"><span class="border" style="font-size:25px;color: #f7f7f7;">Carlisle Trails</span></a>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:30px 45px;text-align: justify;">
    <p>Trail tracker for the Carlisle trail system. Rails with custom styling, Google Maps and Darksky API integration. Devise user authentication with Omniauth integration, S3 image storage with carrierwave. Foundation with custom CSS.</p>
    <a href="http://github.com/nh-belanger/trails"<i class="fa fa-github fa-2x"></i></a>
    <a href="http://carlisletrails.herokuapp.com"<i class="fa fa-desktop fa-2x"></i></a>
  </div>
</div>

<div class="bgimg-2">
  <div class="caption">
    <a href="http://schwamit.herokuapp.com"><span class="border" style="font-size:25px;color: #f7f7f7;">SchwamIt</span></a>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Collaboratively built group project and review website for 90s phenomena. Ruby on Rails web app featuring React.js elements, Foundation with custom CSS, Devise authentication, Amazon S3 image storage and custom mailer</p>
    <a href="http://github.com/sehrmann/schwamit"<i class="fa fa-github fa-2x"></i></a>
    <a href="http://schwamit.herokuapp.com"><i class="fa fa-desktop fa-2x"></i></a>
  </div>
</div>

<div class="bgimg-4">
  <div class="caption">
    <span class="border" style="font-size:25px;color: #f7f7f7;">Gopher</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Web application that enhances social aspects of country club membership. Ruby on Rails web app with PostgreSQL backend, Foundation with custom CSS styling, React.js elements, Devise user authentication, custom mailer, and custom Javascript map element.</p>
    <a href="http://github.com/nh-belanger/gopher"<i class="fa fa-github fa-2x"></i></a>
  </div>
</div>

<div class="bgimg-6">
  <div class="caption">
    <a href="https://www.linkedin.com/in/nh-belanger"><span class="border-link" style="font-size:25px;color: #f7f7f7;">linkedin.com/in/nh-belanger</span><br><br><br></a>
    <a href="https://www.github.com/nh-belanger"><span class="border-link" style="font-size:25px;color: #f7f7f7;">github.com/nh-belanger</span><br><br><br></a>
    <a href="https://www.angelist.co/nh-belanger"><span class="border-link" style="font-size:25px;color: #f7f7f7;">angelist.co/nh-belanger</span><br><br><br></a>
    <a href="/download_resume"><span class="border-link" style="font-size:25px;color: #f7f7f7;">Download My Resume</span><br><br><br></a>
  </div>
</div>
