<!DOCTYPE html>
<html>
  <head>
    <title>nh-belanger</title>
    <%= csrf_meta_tags %>


    <link rel="stylesheet" href="animate.min.css">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Abel|Bitter|Josefin+Sans" rel="stylesheet">
    <script src="https://use.fontawesome.com/3eb5fd4ef5.js"></script>




  </head>



  <body>
    <%= yield %>
  </body>
</html>
